# Data Science Tools and Ecosystem

In the following notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List Common libraries used by Data Scientists
- List most popular languages for Data Science
- Demonstrate examples of basic arithmetic in Python
- Demonstrate examples of code and markdown cell is Jupyter Notebooks
- Share notebook through GitHub

Some of the most popular languages that Data Scientiests use are:

1. Python
2. R
3. SQL
4. Scala

Some of the most common libraires used by Data Scientists include:

1. Pandas (Python)
2. NumPy (Pyhton)
3. SciKit-learn (Python)
4. Vegas (Scala)
5. ggplot2 (R)

|Data Science Tools|
|------------------|
|RStudio|
|Spyder|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

Eric Howard